/* Two-columns: 80% / 20% */
.columns {
  display: flex;
  gap: 0;
  width: 100%;
  align-items: stretch;
  flex-grow: 1;
}

/* Left: experiences, projects ... */
.content {
  flex: 3;

  /* temporary */
  outline: 1px dashed var(--debug-border);
}

/* Right: Timezone, LinkedIn/GitHub links, skills .. */
.sidebar {
  flex: 1;
  overflow: hidden;

  /* temporary */
  outline: 1px dashed var(--debug-border);
}

.cards-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;

   /* temporary */
  outline: 1px dashed var(--debug-border);
}

.github {
  width: 40px;
  height: 40px;
  color: var(--purple); /* how to make this not current-color */
  transition: all 0.2s ease;
}

.github:hover {
  color: var(--purple); /* how to make this not current-color */
  transform: scale(1.05);
}
